NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000
TOKEN_ENCRYPTION_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/oauth/spotify/callback

NEXT_PUBLIC_CHAIN_NAME=Base Sepolia
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_CHAIN_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://sepolia.basescan.org
