NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000
TOKEN_ENCRYPTION_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/oauth/spotify/callback

X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=http://localhost:3000/api/oauth/x/callback
X_SCOPES=tweet.read users.read follows.read offline.access

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/api/oauth/discord/callback
DISCORD_SCOPES=identify connections guilds

NEXT_PUBLIC_CHAIN_NAME=Base Sepolia
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_CHAIN_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://sepolia.basescan.org
